<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Customer</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body>
<h2>Create Customer</h2>
<form method="post" th:action="@{/create-customer}">
  <label>Name:</label>
  <input type="text" name="name" required/><br/><br/>
  <label>Email:</label>
  <input type="email" name="email" required/><br/><br/>
  <label>Password:</label>
  <input type="password" name="password" required/><br/><br/>
  <input type="submit" value="Create"/>
</form>
</body>
</html>
